<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.horx.wdf.sys.mapper.DataPermissionDefMapper">

    <sql id="selectSql">
        SELECT
            t1.id,
            t1.code,
            t1.name,
            t1.obj_type,
            t1.obj_id,
            t2.name AS obj_name,
            t1.is_enabled,
            t1.display_seq,
            t1.remarks
        FROM
            wdf_data_perm t1
        LEFT JOIN wdf_dict t2 ON (
            t1.obj_type = 'dict'
            AND t1.obj_id = t2.id
        )
        WHERE
            t1.is_deleted = 0
    </sql>

    <sql id="whereSql">
        <if test="code != null and code != ''">
            AND t1.code LIKE ${_concatStart} '%' ${_concatSep} #{code} ${_concatSep} '%' ${_concatEnd}
        </if>
        <if test="name != null and name != ''">
            AND t1.name LIKE ${_concatStart} '%' ${_concatSep} #{name} ${_concatSep} '%' ${_concatEnd}
        </if>
        <if test="objType != null and objType != ''">
            AND t1.obj_type = #{objType}
        </if>
        <if test="enabled != null">
            AND t1.is_enabled = #{enabled}
        </if>
    </sql>

    <select id="selectById" resultType="org.horx.wdf.sys.domain.DataPermissionDef">
        <include refid="selectSql"/>
        AND t1.id=#{id}
    </select>

    <select id="selectByCode" resultType="org.horx.wdf.sys.domain.DataPermissionDef">
        <include refid="selectSql"/>
        AND t1.code=#{code}
    </select>

    <select id="pagingSelect" resultType="org.horx.wdf.sys.domain.DataPermissionDef">
        <include refid="selectSql"/>
        <include refid="whereSql"/>
    </select>

    <select id="select" resultType="org.horx.wdf.sys.domain.DataPermissionDef">
        <include refid="selectSql"/>
        <include refid="whereSql"/>
        ORDER BY t1.display_seq,t1.code
    </select>
</mapper>