<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">

    <!-- ehcache缓存开始 -->
    <!--<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="springCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>-->
    <!-- ehcache缓存结束 -->

    <!-- Redis缓存开始 -->
    <bean id="defaultCacheConfig" class="org.horx.wdf.common.spring.cache.redis.RedisCacheConfig">
        <property name="ttl" value="5M"/>
        <property name="cacheNullValues" value="true"/>
        <property name="usePrefix" value="true"/>
        <property name="keyPrefix" value="cache."/>
    </bean>
    <bean id="sysCacheConfig" class="org.horx.wdf.common.spring.cache.redis.RedisCacheConfig">
        <property name="ttl" value="5M"/>
        <property name="cacheNullValues" value="true"/>
        <property name="usePrefix" value="true"/>
        <property name="keyPrefix" value="sysCache."/>
    </bean>

    <bean id="redisCacheManagerFactory" class="org.horx.wdf.common.spring.cache.redis.RedisCacheManagerFactory">
        <property name="redisConnectionFactory" ref="jedisConnectionFactory"/>
        <property name="defaultCacheConfiguration" ref="defaultCacheConfig"/>
        <property name="cacheConfigurations">
            <map>
                <entry key="sysCache" value-ref="sysCacheConfig"/>
            </map>
        </property>
    </bean>

    <bean id="springCacheManager" factory-bean="redisCacheManagerFactory" factory-method="build"/>
    <!-- Redis缓存结束 -->

    <!-- cache注解 -->
    <bean id="ignoreCacheErrorHandler" class="org.horx.wdf.common.spring.cache.IgnoreCacheErrorHandler"/>
    <cache:annotation-driven cache-manager="springCacheManager" order="1" error-handler="ignoreCacheErrorHandler"/>

</beans>
